



.vol_bgcolor_bk{
    background-color: black;
}

.vol_section_title{
    color:white;
}

.gallery_bg li {
    background-color: rgb(201, 204, 211);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.03);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.03); }



.icon_bg{
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: -webkit-inline-box;
    justify-content: center;
    padding-left: 0;
}

.icon-padd{
    padding-top: 10px;
    
}



a:hover {
    opacity: 0.6;
    transition: 0.3s;
  }

.col_tit_box{
    background-color: #fff;
    padding: 1rem;
    position: relative;
    color: black;
    margin-bottom: 20px;
}

.col_tit_box p{
    font-size: 14px;
    line-height: 20px;
}

.col_h2{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.2rem;
    margin-bottom: 0;
}

.ellipsis {
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.row-same-height {
display: table;
width: 100%;
}

.row-same-height [class^=col-] {
    display: table-cell;
    float: none;
}

.cover_img{
    background-image: url(../images/cover.png);
}

